<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <h2>Editar uma linha evolutiva</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Salvar alterações</button>
            </form>
        </div>
    </div>
</body>
</html>